.Users-Table{
    width: 100%;
    max-width: 1400px;
    min-height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
}
.Users-Table-Column-Wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    min-width: 52px;
    box-sizing: border-box;
}
.Users-Table-Column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}
.Users-Table-Column-Cell{
    width: 100%;
    border-top: 1px solid var(--color-font);
    border-bottom: 1px solid var(--color-font);
    padding: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.Users-Table-Column-Header{
    border-top: 1px solid var(--color-font);
    border-bottom: 1px solid var(--color-font);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor:pointer;
    overflow:hidden;
}
.Users-Table-Column-Header h3 {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.Users-Table-Column-Dragger{
user-select: none;
    width: 2px;
    align-self: stretch;
    flex-direction: row;
    background-color: var(--color-font);
    cursor:col-resize;
}